@font-face {
    font-family: 'PyeongChangPeace-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

p,li {
    color: #262626;
    font-family:'Pretendard';
    font-weight: 300;
    line-height: 1.8em;
    list-style: none;
 }

h2 {
    font-family:'Pretendard';
    font-weight: 700;
 }

a {
    color: #262626;
    text-decoration: none;
    font-weight: 700;
 }
h1 {
    font-size: 40px;
    text-align: center;
    font-family: 'PyeongChangPeace-Light';
 }